.color-red {
  color: #d04048 !important;
}

.overline {
  text-decoration: line-through !important;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  position: fixed;
  padding-top: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  right: 10px;
  bottom: 15px;
  font-size: 1.8em;
  border: none;
  background: none;
  color: #48C872;
}

.btn-hover:hover {
  background-color: hsla(220, 13%, 18%, 0.174);
  border-radius: 50%;
}

.btn-hover-2:hover {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: hsla(0, 0%, 100%, 0.081);
  border-radius: 50%;
}

.btn-text {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1.2em;
  background-color: #36393B;
  color: #ffffff;
  border: none;
}

.btn-text:hover {
  color: #48C872;
  background-color: hsla(0, 0%, 0%, 0.127);
}

.header {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: #36393B;
  color: white;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 5%;
}

.space {
  margin: 2em 0 2em 0;
  text-transform: uppercase;
}

.space-bottom {
  margin: 0 0 5em 0;
}

.space-up {
  margin: 2em 0 2em 0;
}

.flex {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.flex2 {
  display: grid !important;
  grid-template-columns: 1fr 0.2fr;
  align-items: center;
}

.item {
  background-color: #ffffff15;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1em;
  text-align: start;
  text-transform: uppercase;
  border-left: 40px solid;
}

.item:hover {
  background-color: #ffffff24;
}

.item-no-complete {
  border-color: #fff;
}

.item-complete {
  text-decoration: line-through;
  border-color: #48C872;
}

.icons-check-delete {
  text-align: center;
}

.check,
.delete {
  font-size: 1.8em;
}

.no-check:hover {
  color: #48C872;
}

.no-check {
  color: #ffffff;
}

.check-complete {
  color: #48C872;
}

.check-complete:hover {
  color: #ffffff;
}

.delete-hover:hover {
  color: #D04048;

}

.counter {
  text-align: center;
  text-transform: uppercase;
}

.search {
  text-transform: capitalize;
  color: white;
  background-color: #36393B;
  border: 2px solid #ffffff;
  box-shadow: 0.1em 0.1em 0 0 #ffffff,
    inset 0.1em 0.1em 0 0 #ffffff;
  margin: 0.8em;
  padding: 1em;
  margin-bottom: 2em;
  margin-right: 0;
  transition: 0.3s;
}

.search:focus {
  outline: none;
}

.search-hover:hover {
  transition-timing-function: ease-out;
  color: #48C872;
  border-color: #48C872;
  /* box-shadow: 0.3em 0.3em 0 0 #48C872,
    inset 0.3em 0.3em 0 0 #48C872; */
  box-shadow: 0.1em 0.1em 0 0 #48C872,
    inset 0.1em 0.1em 0 0 #48C872;
}

.search-hover-red:hover {
  color: #D04048;
  border-color: #D04048;
  /* box-shadow: 0.3em 0.3em 0 0 #D04048,
    inset 0.3em 0.3em 0 0 #D04048; */
  box-shadow: 0.1em 0.1em 0 0 #D04048,
    inset 0.1em 0.1em 0 0 #D04048;
}

.form {
  font-weight: bold;
  color: #36393B;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0.5em;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
}

.form-design {
  border: none;
  color: #fff;
  border-color: #36393B;
  background-color: #36393B;
  box-shadow: 0.3em 0.3em 0 0 #36393B,
    inset 0.3em 0.3em 0 0 #36393B;
  padding: 0.6em;
}

.form-design:focus {
  outline: none;
}

.save {
  color: #fff;
  border: none;
  background-color: #36393B;
  text-transform: uppercase;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  margin-bottom: 2em;
  box-shadow: 0.3em 0.3em 0 0 #36393B,
    inset 0.3em 0.3em 0 0 #36393B;
  transition: 0.2s;
}

.save:hover {
  color: #fff;
  transition-timing-function: ease-out;
  background-color: #48C872;
  box-shadow: 0.3em 0.3em 0 0 #48C872,
    inset 0.3em 0.3em 0 0 #48C872;
}

.not-save {
  color: #fff;
  font-size: 1.3em;
  border: none;
  background-color: #36393B;
  text-transform: uppercase;
  padding-top: 0.26em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  box-shadow: 0.1em 0.2em 0 0 #36393B,
    inset 0.3em 0.3em 0 0 #36393B;
}

.not-save:hover {
  color: #fff;
  background-color: #D04048;
  box-shadow: 0.1em 0.2em 0 0 #D04048,
    inset 0.3em 0.3em 0 0 #D04048;
}

.not-save2 {
  color: #fff;
  font-size: 1.89em;
  background-color: #36393B;
  margin-left: 1.5px;
  margin-right: 0;
  margin-top: 1.7em;
  margin-bottom: 2.17em;
  padding: 0.1em;
  border: 2px solid #36393B;
  box-shadow: 0.1em 0.17em 0 0 #36393B,
  inset 0 0.1em 0 0 #36393B;
}

.not-save2:hover {
  /* border-color: #D04048;
  color: #fff;
  background-color: #D04048;
  box-shadow: 0em 0em 0 0 #D04048,
  inset 0em 0em 0 0 #D04048; */
  color: #D04048;
}

.background {
  margin-bottom: 2em;
  padding: 10px;
  padding-left: 3em;
  padding-right: 3em;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  margin-top: 1em;
}

.background:hover {
  transition-timing-function: ease-out;
  /*linear, ease-in ease-out*/
  background-color: rgb(255, 255, 255);
  box-shadow: 0.3em 0.3em 0 0 #fff,
    inset 0.3em 0.3em 0 0 #fff;

}

.black-text {
  margin-bottom: 0;
  font-weight: bolder;
  text-transform: uppercase;
  color: #36393B;
}

.no-margin-top {
  margin-top: 0 !important;
}

.title {
  text-align: center;
  color:#36393B;
}

/* animation*/